HOST=0.0.0.0
PORT=3001
JWT_SECRET=secret
NODE_ENV=development
APP_NAME="Checkpoint Chat"

# Mongo
DATABASE_URL="mongodb://root:example@localhost:27017/chat"

# Redis
REDIS_URL="redis://localhost:6379"

# Mailersend
MAILER_SEND_API_KEY=api_key
APP_EMAIL_ADDRESS="MS_vtre0r@test-y7zpl98qz9545vx6.mlsender.net"
